<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Pass Authorization header to PHP
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Do not rewrite if file or directory physically exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect everything else to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
